---
layout: default
image: '/images/01.jpg'

accordion:
  - title: למי מתאימות הסדנאות?
    content: לכל מי שהוא מעל גיל 14. נשים, גברים, צעירים ומבוגרים.
  - title: האם נדרש ידע מקדים בשביל להגיע לסדנה?
    content: לא, לומדים הכל בסדנה בנחת ובסבלנות.
  - title: כמה משתתפים יש בסדנה?
    content: הסדנה מיועדת ל-8 משתתפים לכל היותר, כדי שאוכל לתת תשומת לב מלאה לכל משתתף.
  - title: מה כולל מחיר הסדנה?
    content: כל החומרים ליצירת רקמה ייחודית, כיבוד קל שאני מכינה, וכניסה לקבוצת וואטסאפ לליווי ושאלות.
  - title: לאילו גילאים מיועדת הסדנה?
    content: הסדנה מתאימה מגיל 14 ומעלה.
  - title: למדתי פעם לרקום, האם יש מה לחדש לי?
    content: תמיד יש מה ללמוד. גם מי שרקמה בעבר מגלה תכים חדשים וחוויות נוספות.
  - title: לא מוזר להגיע לבד לסדנה?
    content: לא, רוב המשתתפות מגיעות לבד, ונוצרים חיבורים כיפיים בין כולם.
  - title: האם יש אופציה לסדנה פרטית או זוגית?
    content: בהחלט! אפשר לתאם סדנה פרטית או זוגית דרך וואטסאפ לפי זמן, מקום וכמות משתתפים.
  - title: אני רוצה לארח אצלי סדנה! זה אפשרי?
    content: כן! כל אחת יכולה לארח סדנה אצלה, והמארחת משלמת 50% בתנאי של לפחות 4 משתתפות נוספות.
  - title: האם אפשר לתת את הסדנה כמתנה?
    content: בטח! יש לציין זאת בהערות בהרשמה, ואפיק עבורך שובר מתנה במיוחד.
    
---

{% include section-hero.html %}
{% include section-home-redesign.html %}
