<!-- begin schedule -->
<section class="section schedule animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        {% assign schedule_title = include.title | default: page.schedule.title | default: site.data.settings.schedule.title %}
        {% if schedule_title and schedule_title != "" %}
        <div class="section__info">
          <h2 class="section__title">{{ schedule_title }}</h2>
          {% assign schedule_description = include.description | default: page.schedule.description | default: site.data.settings.schedule.description %}
          {% if schedule_description and schedule_description != "" %}
          <p class="section__description">{{ schedule_description }}</p>
          {% endif %}
        </div>
        {% endif %}
        <div class="schedule__container">
          {% assign schedule_items = include.items | default: page.schedule.items | default: site.data.settings.schedule.items %}
          <div class="schedule__columns">
            {% for item in schedule_items %}
            <div class="schedule__column">
              {% if item.day %}
              <h3 class="schedule__day-title">{{ item.day }}</h3>
              {% endif %}
              {% if item.activities %}
              <div class="schedule__activities">
                {% for activity in item.activities %}
                <div class="schedule__activity">
                  {% if activity.time and activity.title %}
                  <span class="schedule__activity-time">{{ activity.time }}</span>
                  <span class="schedule__activity-separator"> - </span>
                  <span class="schedule__activity-title">{{ activity.title }}</span>
                  {% elsif activity.time %}
                  <span class="schedule__activity-time">{{ activity.time }}</span>
                  {% elsif activity.title %}
                  <span class="schedule__activity-title">{{ activity.title }}</span>
                  {% endif %}
                  {% if activity.description %}
                  <div class="schedule__activity-description">{{ activity.description }}</div>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          <div class="schedule__note">
            <p>** ייתכנו שינויים בלוח הזמנים</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- end schedule -->

