{% if site.data.settings.social %}
<div class="social">
    <ul class="social__list list-reset">
    {% for social in site.data.settings.social %}
    {% assign social_slug = social.icon | replace: 'ion-logo-', '' | replace: 'ion-', '' %}
    <li class="social__item">
        <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener"
        aria-label="Social link" data-analytics="social_{{ social_slug }}"><i class="ion {{social.icon}}"></i></a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
