/* Sections */
section {
  padding: 64px 0 24px;

  @media only screen and (max-width: $desktop) {
    padding: 48px 0 20px;
  }
}

.section {
  position: relative;
  padding: 96px 0;

  @media only screen and (max-width: $desktop) {
    padding: 72px 0;
  }
}

.section-w-color {
  color: var(--dark);
  background-color: var(--brand-color);
}

.section__info {
  max-width: 720px;
  margin: 0 auto 36px;
  text-align: center;

  @media only screen and (max-width: $mobile) {
     margin: 0 auto 25px;
  }
}

.section__title {
  margin-bottom: 12px;
  font-size: 42px;
  line-height: 1.2;

  @media only screen and (max-width: $mobile) {
    font-size: 36px;
  }
}

.section__description {
  margin-top: 12px;
  margin-bottom: 0;
  line-height: 1.7;
  color: var(--text-alt-color);
  
  @media only screen and (max-width: $mobile) {
    margin-top: 16px;
    line-height: 1.7;
  }
}

.section__navigation {
  margin-top: 24px;
  text-align: center;
}