/* Sections */
section {
  padding: 40px 0 20px ;

  @media only screen and (max-width: $desktop) {
    padding: 30px 0;
  }
}

.section {
  position: relative;
  padding: 60px 0 20px ;

  @media only screen and (max-width: $desktop) {
    padding: 50px 0;
  }
}

.section-w-color {
  color: var(--dark);
  background-color: var(--brand-color);
}

.section__info {
  max-width: 530px;
  margin: 0 auto 30px;
  text-align: center;

  @media only screen and (max-width: $mobile) {
     margin: 0 auto 25px;
  }
}

.section__title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1;

  @media only screen and (max-width: $mobile) {
    font-size: 36px;
  }
}

.section__description {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.8;
  
  @media only screen and (max-width: $mobile) {
    margin-top: 16px;
    line-height: 1.7;
  }
}

.section__navigation {
  margin-top: 16px;
  text-align: center;
}