/* Color Scheme */

:root {
  --brand-color: #e090b0;
  --brand-color-strong: #d784a5;
  --white: #fff;
  --light-gray: #f5f1eb;
  --light-blue: #eee6da;
  --blue-gray: #716f8a;
  --gray: #6f675e;
  --dark: #2a2520;
  --dark-blue: #1e2740;
  --surface-color: #fffdfa;
  --surface-color-2: #f8f3ec;

  --background-color: #fdfbf8;
  --background-alt-color: var(--light-gray);
  
  --text-color: var(--dark);
  --text-alt-color: var(--gray);
  
  --heading-font-color: var(--dark);

  --link-color: var(--dark);
  --link-color-hover: var(--dark);

  --button-color: var(--white);
  --button-background-color: var(--brand-color);
  --button-background-hover: var(--brand-color-strong);

  --border-color: #e8e0d6;
  --border-color-alt: #e8e0d6;

  --th-color: var(--light-gray);
  --tr-color: var(--light-gray);

  --syntax-highlighting-background: #f3f3f3;
}

:root[dark] {
  --brand-color: #e090b0;
  --brand-color-strong: #d784a5;
  --white: #fff;
  --light-gray: #f0f0f0;
  --gray: #9e9e9e;
  --dark: #111016;

  --background-color: var(--dark);
  --background-alt-color: #1a1a1f;
  
  --text-color: var(--gray);
  --text-alt-color: var(--gray);
  
  --heading-font-color: var(--light-gray);

  --link-color: var(--light-gray);
  --link-color-hover: var(--light-gray);

  --button-color: var(--white);
  --button-background-color: var(--brand-color);
  --button-background-hover: var(--brand-color-strong);

  --border-color: #252629;
  --border-color-alt: #080b12;

  --th-color: #18181d;;
  --tr-color: #080b12;

  --syntax-highlighting-background: #080b12;
}